<app-spinner></app-spinner>
<app-header></app-header>

<body class="panel">
    <div class="container center" >

      <div class="hero-text color1">
        <div class="row">
          <button class="acept2btn" routerLink="/EstadisticasEmpleados">Estadisticas de Empleados</button>
          <button class="cancelbtn" routerLink="/EstadisticasTurnos">Estadisticas de Turnos</button>
          <button class="cancel2btn" routerLink="/EstadisticasEspecialidades">Estadisticas de Especialidades</button>
          <button class="aceptbtn" (click)="altaUsuario = true">Alta Usuario</button>
        </div>
      </div>
        <app-alta-usuario (cerrarAltaUsuario)="altaUsuario = false" *ngIf="altaUsuario"></app-alta-usuario>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
</body>
