<body class="panel">
  <div class="container" >
     <form action="return true;">

       <div class="container">
         <label><b style="color: #F9AF38">Email</b></label>
         <input type="text" placeholder="Email"  [(ngModel)]="email"  name="uname" required>

         <label><b style="color: #F9AF38">Clave</b></label>
         <input type="password" placeholder="Clave"  [(ngModel)]="clave" name="psw" required>

         <label><b style="color: #F9AF38">Imagen</b></label><br>
         <input class="color1" #file type="file" accept="image/png" (change)="preview(file.files)" name="foto" id="foto" required><br>

         <label><b style="color: #F9AF38">Captcha</b></label>
         <select class="form-control" name="bot" id="bot" [(ngModel)]="bots">
            <option>Soy un Robot</option>
            <option>No soy un Robot</option>
        </select>

         <button *ngIf="bots == 'No soy un Robot'" (click)="Registrar()" >Registrarse</button>
         <button type="button" class="cancelbtn" routerLink="/Login">Cancelar</button>
         <label style="color: red;" *ngIf="mostrar">{{mensaje}}</label>
       </div>

     </form>
 </div>
 </body>
