<app-spinner></app-spinner>

<body class="panel">
  <div class="container" >

      <!--Creo que tendria que hacer un principal para todos los tipos de empleados-->
          <li class="color1">
            <a (click)="altaTurno = true">
              <div class="media">
                <div class="media-left">
                </div>
                <div class="media-body">
                  <h3 class="media-heading">Pedir turno</h3>
                  <p>El cliente puede pedir un turno y seleccionar el especialista. Tener en cuenta la
                    disponibilidad del especialista.
                    Al realizar la solicitud de turno se le otorgará un código que identifica la sala que le
                    corresponde</p>
                </div>
              </div>
            </a>
          </li>

          <li class="color1 ">
              <a (click)="ruteando()">
                <div class="media">
                    <div class="media-left">
                      </div>
                  <div class="media-body">
                    <h3 class="media-heading">Turnos pedidos</h3>
                  </div>

                </div>
              </a>
            </li>
          
          <li class="color1">
            <a (click)="encuesta = true">
              <div class="media">
                  <div class="media-left">
                    </div>
                <div class="media-body">
                  <h3 class="media-heading">Hacer encuesta</h3>
                  <p>Al terminar la visita con el especialista, el cliente podrá realizar una encuesta con una
                    puntuación del 1 al 10 para:
                    a-La clínica.
                    b-El especialista.
                    c-Y un breve texto de hasta 66 caracteres describiendo la experiencia (buena o
                    mala) que tuvo en su atención.</p>
                </div>

              </div>
            </a>
          </li>

        <div class="row">
          <div class="col-md-12">
              <h1>Lista de Turnos:</h1>
              <table class="tabla" cellspacing="0" style="text-align: center">
                  <thead>
                      <tr>
                          <th>Cliente</th>
                          <th>Especialista</th>
                          <th>Fecha</th>  
                          <th>Horario</th>
                          <th>Estado</th>
                      </tr>
                  </thead>
                  <tbody style="text-align: center" *ngFor="let tur of info">
                      <tr>
                          <td>{{tur.cliente}}</td> 
                          <td>{{tur.especialista}}</td>
                          <td>{{tur.fecha}}</td>
                          <td>{{tur.horario}}</td>
                          <td>{{tur.estado}}</td>
                          <td *ngIf="tur.estado == 'Finalizado'"><button title="res" type="button" class="button btn btn-danger" (click)="encuestar(tur)">Hacer Encuesta</button></td>
                          <td *ngIf="tur.estado == 'Finalizado'|| tur.estado == 'Encuestado'"><button title="ver" type="button" class="button btn btn-danger" (click)="reseniar(tur)">Ver Reseña</button></td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>

      <app-resenia-detalle [turno]="turno" (cerrarResenia)="resenia = false" *ngIf="resenia"></app-resenia-detalle>
      <app-encuesta (cerrarEncuesta)="encuesta = false" [turno]="turno" *ngIf="encuesta"></app-encuesta>
      <app-alta-turno (cerrarAltaTurno)="altaTurno = false" [email]="email" [recepcion]="false" [turnos]="turnos" *ngIf="altaTurno"></app-alta-turno>
        
  </div>
