<body class="panel">
  <div class="container" >

      <!--Creo que tendria que hacer un principal para todos los tipos de empleados-->
          <li class="color1">
            <a (click)="ruteando()">
              <div class="media">
                <div class="media-left">
                </div>
                <div class="media-body">
                  <h3 class="media-heading">Turnos por fecha</h3>
                  <p>Ver los turnos que se tienen por fecha</p>
                </div>
              </div>
            </a>
          <li class="color1 ">
              <a routerLink="/Listado">
                <div class="media">
                    <div class="media-left">
                      </div>
                  <div class="media-body">
                    <h3 class="media-heading">Marcar pacientes que vinieron</h3>
                  </div>

                </div>
              </a>
            </li>
          <li class="color1">
            <a (click)="resenia = true">
              <div class="media">
                  <div class="media-left">
                    </div>
                <div class="media-body">
                  <h3 class="media-heading">Cargar reseña</h3>
                  <p>permite cargar un breve reseña de los trabajos realizados en el paciente.</p>
                </div>

              </div>
            </a>

            <app-resenia (cerrarResenia)="resenia = false" *ngIf="resenia"></app-resenia>
  </div>
