<body class="panel">
  <div class="container" >

      <!--Creo que tendria que hacer un principal para todos los tipos de empleados-->
          <li class="color1">
            <a (click)="altaTurno = true">
              <div class="media">
                <div class="media-left">
                </div>
                <div class="media-body">
                  <h3 class="media-heading">Pedir turno</h3>
                  <p>Para un cliente que llama por telefono o tratamiento pedido por un especialista</p>
                </div>
              </div>
            </a>

            <app-alta-turno (cerrarAltaTurno)="altaTurno = false" [recepcion]="true" [turnos]="turnos" *ngIf="altaTurno"></app-alta-turno>

          <li class="color1 ">
              <a routerLink="/Listado">
                <div class="media">
                    <div class="media-left">
                      </div>
                  <div class="media-body">
                    <h3 class="media-heading">Cancelar turnos</h3>
                  </div>

                </div>
              </a>
            </li>
          <li class="color1">
            <a routerLink="/ConsultoriosOcupados">
              <div class="media">
                  <div class="media-left">
                    </div>
                <div class="media-body">
                  <h3 class="media-heading">Consultorios ocupados</h3>
                  <p>Y los proximos a ser ocupados</p>
                </div>

              </div>
            </a>
  </div>
</body>
