<app-spinner></app-spinner>

<body class="panel">
  <div class="container" >
  
          <li class="color1">
            <a routerLink="/ConsultoriosOcupados">
              <div class="media">
                  <div class="media-left">
                    </div>
                <div class="media-body">
                  <h3 class="media-heading">Consultorios ocupados</h3>
                  <p>Y los proximos a ser ocupados</p>
                </div>

              </div>
            </a>

  </div>

<div class="hero-text">
  <div class="row">
    <div class="col-md-12 color2">
        <h1>Lista de Turnos:</h1>
        <table class="tabla table table-info" cellspacing="0" style="text-align: center">
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Especialista</th>
                    <th>Fecha</th>
                    <th>Horario</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody style="text-align: center" *ngFor="let tur of info">
                <tr>
                    <td>{{tur.cliente}}</td> 
                    <td>{{tur.especialista}}</td>
                    <td>{{tur.fecha}}</td>
                    <td>{{tur.horario}}</td>
                    <td>{{tur.estado}}</td>
                    <td>
                      <app-cancelar-turno *ngIf="tur.estado == Solicitado" [btnTur]="tur" (recargarGrilla)="cargarPelis($event)"></app-cancelar-turno>
                  </td>
                </tr>
            </tbody>
        </table>
    </div>
    <button class="cancelbtn" (click)="altaTurno = true">Pedir Turno</button>
  </div>
</div>
<app-alta-turno (cerrarAltaTurno)="altaTurno = false" [recepcion]="true" [turnos]="turnos" *ngIf="altaTurno"></app-alta-turno>


</body>

