<app-spinner></app-spinner>

<body class="panel">
  <div class="container" >

      <!--Creo que tendria que hacer un principal para todos los tipos de empleados-->
          <li class="color1">
            <a (click)="altaTurno = true">
              <div class="media">
                <div class="media-left">
                </div>
                <div class="media-body">
                  <h3 class="media-heading">Pedir turno</h3>
                  <p>Para un cliente que llama por telefono o tratamiento pedido por un especialista</p>
                </div>
              </div>
            </a>
          <li class="color1 ">
              <a routerLink="/Listado">
                <div class="media">
                    <div class="media-left">
                      </div>
                  <div class="media-body">
                    <h3 class="media-heading">Cancelar turnos</h3>
                  </div>

                </div>
              </a>
            </li>
          <li class="color1">
            <a routerLink="/ConsultoriosOcupados">
              <div class="media">
                  <div class="media-left">
                    </div>
                <div class="media-body">
                  <h3 class="media-heading">Consultorios ocupados</h3>
                  <p>Y los proximos a ser ocupados</p>
                </div>

              </div>
            </a>

  </div>

  <div class="row">
    <div class="col-md-12">
        <h1>Lista de Turnos:</h1>
        <table class="tabla" cellspacing="0" style="text-align: center">
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Especialista</th>
                    <th>Fecha</th>
                    <th>Horario</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody style="text-align: center" *ngFor="let tur of info">
                <tr>
                    <td>{{tur.cliente}}</td> 
                    <td>{{tur.especialista}}</td>
                    <td>{{tur.fecha}}</td>
                    <td>{{tur.horario}}</td>
                    <td>{{tur.estado}}</td>
                    <td>
                      <app-cancelar-turno *ngIf="tur.estado == Solicitado" [btnTur]="tur" (recargarGrilla)="cargarPelis($event)"></app-cancelar-turno>
                  </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<app-alta-turno (cerrarAltaTurno)="altaTurno = false" [recepcion]="true" [turnos]="turnos" *ngIf="altaTurno"></app-alta-turno>


</body>

