<body class="panel">
    <div class="container" >
       <form action="return true;">

          <div class="imgcontainer">
              <img src="./assets/imagenes/login.png" alt="Avatar" class="avatar" >
            </div>  

         <div class="container">
           <label><b style="color: #F9AF38">Email</b></label>
           <input type="text" placeholder="Email"  [(ngModel)]="email"  name="uname" required>

           <label><b style="color: #F9AF38">Clave</b></label>
           <input type="password" placeholder="Clave"  [(ngModel)]="clave" name="psw" required>
           <re-captcha (resolved)="resolved($event)" siteKey="6LfKHsYUAAAAAKbpfXZqJRo0lLAJyATzAHPg9BpN"></re-captcha>
          <!--6LfKHsYUAAAAAKbpfXZqJRo0lLAJyATzAHPg9BpN  site key-->
          <!--6LfKHsYUAAAAAH3PmIu2BD5oZBiAfhMbHYPe6esw secret key-->
           <button *ngIf="captcha" (click)="Loguearse()" >Ingresar</button> 
         </div>

         <div class="container">
           <button type="button" class="aceptbtn" routerLink="/Registrar" >Registrarse</button>
         </div>

         <div class="row justify-content-center">
         <label class="color1"><input type="radio" id="r1" name="user" (change)="admin()" value="admin">Admin</label>
         <label class="color1"><input type="radio" id="r1" name="user" (change)="recepcionista()" value="recepcionista">Recepcionista</label>
         <label class="color1"><input type="radio" id="r2" name="user" (change)="especialista()" value="especialista">Especialista</label>
         <label class="color1"><input type="radio" id="r3" name="user" (change)="cliente()" value="cliente">Cliente</label>
        </div>
       </form>
     </div>
   </body>


<!--div class="container">

<div class="row d-flex justify-content-center">
    <div class="col-3 align-self-center" style="background-color: lightgrey;">
        <h3>Email</h3>
        <input type="text" placeholder="Email" [(ngModel)]="email" name="email" required>
        <h3>Contraseña</h3>
        <input type="text" placeholder="Clave" [(ngModel)]="clave" name="pass" required>
        <button (click)="Loguearse()">Loguearse</button>
    </div>
</div>

</div-->
