<app-header></app-header>
<div class="row">
        <div class="col-md-12">
            <h1>Lista de Turnos:</h1>
            <button (click)="turnosRecepcion()">Turnos emitidos por recepcionistas</button>
            <button (click)="turnosClientes()">Turnos emitidos por clientes</button>
            <button (click)="turnosCanceladosEspecialidad()">Turnos cancelados por especialidad</button>
            <button (click)="turnosRealizadosEspecialidad()">Turnos realizados por especialidad</button>

            <select class="ok" name="name" id="name" *ngIf="turnCanc" (change)="turnosCanceladosEspecialidad()" required [(ngModel)]="especialidad">
                <option>Mecanica</option>
                <option>Imagenes</option>
                <option>Clinico</option>                        
            </select><br>
            <select class="ok" name="name" id="name" *ngIf="turnReal" (change)="turnosRealizadosEspecialidad()" required [(ngModel)]="especialidad">
                <option>Mecanica</option>
                <option>Imagenes</option>
                <option>Clinico</option>                        
            </select><br>
            <table class="tabla table table-info" cellspacing="0" style="text-align: center">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Especialista</th>
                        <th>Fecha</th>
                        <th>Horario</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody style="text-align: center" *ngFor="let tur of info">
                    <tr>
                        <td>{{tur.cliente}}</td> 
                        <td>{{tur.especialista}}</td>
                        <td>{{tur.fecha}}</td>
                        <td>{{tur.horario}}</td>
                        <td>{{tur.estado}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>