<app-spinner></app-spinner>
<app-header></app-header>
<br><br>
<div class="row">
        <div align="center" class="col-md-12">
            <h1 style="color: white;">Lista de Turnos:</h1>
            <ul class="nav nav-tabs nav-fill" style=" background-color: lightgrey;">
                <li class="nav-item">
                    <a class="nav-item nav-link" (click)="turnosRecepcion()" >Turnos emitidos por recepcionistas</a> 
                </li>
    
                <li class="nav-item">
                    <a class="nav-item nav-link" (click)="turnosClientes()">Turnos emitidos por clientes</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-item nav-link" (click)="turnosCanceladosEspecialidad()">Turnos cancelados por especialidad</a>
                </li>
    
                <li class="nav-item">
                    <a class="nav-item nav-link" (click)="turnosRealizadosEspecialidad()">Turnos realizados por especialidad</a>
                </li>   
        </ul>

            <select class="ok" name="name" id="name" *ngIf="turnCanc" (change)="turnosCanceladosEspecialidad()" required [(ngModel)]="especialidad">
                <option>Mecanica</option>
                <option>Imagenes</option>
                <option>Clinico</option>                        
            </select>
            <select class="ok" name="name" id="name" *ngIf="turnReal" (change)="turnosRealizadosEspecialidad()" required [(ngModel)]="especialidad">
                <option>Mecanica</option>
                <option>Imagenes</option>
                <option>Clinico</option>                        
            </select><br>
            <table class="tabla table table-info" cellspacing="0" style="text-align: center">
                <thead>
                    <tr>
                        <th>Cliente</th>
                        <th>Especialista</th>
                        <th>Fecha</th>
                        <th>Horario</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody style="text-align: center" *ngFor="let tur of info">
                    <tr [appColorCursor]>
                        <td>{{tur.cliente}}</td> 
                        <td>{{tur.especialista}}</td>
                        <td>{{tur.fecha}}</td>
                        <td>{{tur.horario}}</td>
                        <td>{{tur.estado}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>