<form class="contenedor" id="form" style="padding: 50px;">

  <h2>Pedir Turno:</h2>

  <div *ngIf="recepcion">
    <label>Email</label>
    <input type="text"  class="ok" required name="mail" id="mail" [(ngModel)]="mail"/>
  </div>

  <label>Indique la fecha del turno</label>
  <input type="date"  class="ok" required name="turno" id="turno" [(ngModel)]="fechaTurno"/>

  <label>Indique el horario del turno</label>
  <input type="time" class="ok" name="hora" id="hora" [(ngModel)]="horario">

  <label>Especialista</label>
    <select class="ok" name="esp" id="esp" required [(ngModel)]="especialista">
      <option *ngFor="let es of especialistas">{{es.email}}</option>
    </select>  

    <button (click)="crear()">Pedir turno</button>
    
  <button class="cancelbtn" (click)="cerrarAltaTurno.emit()">Cerrar</button>

</form>
        